* {
    border-radius: 0;
    font-size: 17px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    color: #C9D1D9;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    transition: all 150ms linear;
}

body {
    background: linear-gradient(#10101A, #181823);
    padding: 40px;
    min-height: 100vh;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

.searchbar {
    width: 100%;
    height: 82px;
    box-shadow: 0 0 50px -30px #727272;
    background-color: #0D1117;
    border: 1px solid #30363D;
    border-radius: 5px;
    padding: 20px;
    position: relative;
    display: flex;
}

input {
    border: 1px solid #30363D;
    background-color: #161B22;
    color: #C9D1D9;
    border-radius: 6px;
    font-size: 16px;
    padding: 5px;
    outline: none;
    cursor: text;
    margin-bottom: 10px;
    height: 100%;
}

.custom-select {
    width: 100%;
    margin-right: 20px;
    position: relative;
}

.custom-arrow {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    background: #30363D;
    height: 40px;
    width: 45px;
    border-radius: 0 6px 6px 0;
    pointer-events: none;
}

.custom-arrow::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 40%;
    left: 32%;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 10px solid #C9D1D9;
}

option {
    background: #30363D;
}

#search-button {
    /*width: calc(100% - 100px);*/
    margin-right: 20px;
    height: 40px;
    color: #1b5dba;
}

.searchbar a {
    width: 50px;
    min-width: 50px;
}

#loginButton {
    min-width: 50px;
    height: 40px;
    color: #30363D;
}

#loginButton:hover {
    color: #2DA44E;
}

#loginButton img {
    width: 16px;
}

.results {
    height: calc(100vh - 190px);
    margin-top: 20px;
    /*width: 100%;*/
    /*height: 80px;*/
    box-shadow: 0 0 50px -30px #727272;
    background-color: #0D1117;
    border: 1px solid #30363D;
    border-radius: 5px;
    padding: 20px;
    list-style: none;
    overflow: hidden;
    overflow-y: scroll;
    /*position: relative;*/
    /*display: flex;*/
}

.publication {
    height: 42px;
    line-height: 30px;
    margin-bottom: 15px;
    background-color: #0D1117;
    border: 1px solid #30363D;
    border-radius: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-line;
    display: flex;
}

.publication div {
    width: 100%;
    padding: 5px 5px 5px 10px;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-line;
}

.ID {
    min-width: 50px;
    width: 50px !important;
    max-width: 50px;
    font-weight: 600;
    background-color: #30363D;
}

button span {
    color: white;
    font-size: 17px;
    font-weight: 600;
}

button {
    outline: 0;
    background-color: transparent;
    border: 2px solid currentColor;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    box-shadow: 0 0 40px 40px currentColor inset, 0 0 0 0 currentColor;
    transition: all 150ms ease-in-out;
}

button:hover {
    box-shadow: 0 0 5px 0 currentColor inset, 0 0 5px 2px currentColor;
}


button:hover > img {
    transform: scale(1.2);
}

button:active {
    background-color: currentColor;
}

::-webkit-scrollbar {
  width: 0px;
}